<div class="cuerpo">
    <div class="container-fluid title-img" >
        <img src="../../assets/img/img-portada.jpg" alt="">
        <div class="leading-title">
            <div class="contenedor-angular">
                <img src="../../assets/img/img-angular.png" alt="">
                <h1 style="color: white; font-weight: bold;">A n g u l a r</h1>
            </div>
        </div>
        <div  class="main-title-item text-center">
            <h1 style="color: white;">Células Plenum</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-6 mx-auto">
            <div class="row pt-4 pb-5">
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="../../assets/img/TMDb.jpg" class="card-img-top " alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Movie Database API</h5>
                          <p class="card-text">Millones de películas, programas de televisión y personas por descubrir. Explora ahora.</p>
                          <a [routerLink]="['/tvmaze/lista']" class="btn btn-primary">Ver más...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="../../assets/img/stripe-1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Millones de empresas usan el software y las API de Stripe para aceptar pagos, enviar transferencias y gestionar sus actividades comerciales en Internet.</p>
                          <a href="#" class="btn btn-primary">Ver más...</a>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
        

    </div>
    
    
        
        
        


</div>

